#hi{
    background:black;
    color:white;
    border:3px dashed red; 
    padding: 13px 13px 13px 20px;
    margin: 10px auto;
}
#normal{
    background:peachpuff;
    border-radius:5px;
    border:2px solid black;

}
#italics{
    font-style: italic;
    font-weight:bolder;
    width: 50%
    text-align:center;
    position:absolute;
    width: 200px;
    height: 200px;


}
#smallcap{
    font-size: large;
    font-weight:bolder;
    line-height:300%;
    position:fixed;

}

